<div class="container">
  <h3>Here are all the contacts in the @Model["category"].GetTitle() category:</h3>
  <ul>
    @if (@Model["contacts"].Count == 0)
    {
      <h3>No contacts in this category!</h3>
    }
    else
    {
      @foreach (var contact in @Model["contacts"])
      {
        <li><a href="/contacts/@contact.GetId()">@contact.GetName()</a></li>
      }
    }
  </ol>
  <p><a href="/categories/@Model["category"].GetId()/contacts/new">Add a new contact</a></p>
  <p><a href="/">Return Home</a></p>
</div>
