<div class="container">
  <h1>Categories</h1>
  @if (@Model.Count == 0)
  {
    <h3>No Categories in your address book!</h3>
  }
  @foreach (var category in Model)
  {
    <h3><a href="/categories/@category.GetId()">@category.GetTitle()</a></h3>
  }
  <p><a href="/">Back Home</a></p>
</div>
