<div class="container">
  <h1>Add a Category</h1>
  <form action="/categories" method="post">
    <div class="form-group>"
      <label for="category-title">Category</label>
      <input type="text" name="category-title" id="category-title">
      <button type="submit">Add</button>
    </div>
  </form>
  <p><a href="/">Back Home</a></p>
</div>
