<h1>Add a Category</h1>
<form action="/categories" method="post">
  <label for="category-title">Category</label>
  <input type="text" name="category-title" id="category-title">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back Home</a></p>
