@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <h1>Address Book</h1>
  <h3><a href="/contact/new">Add a new Contact</a></h3>
  <h3><a href="/category/new">Add a new Category</a></h3>
  <!-- <h3><a href="/contacts">View All Contacts</a></h3> -->
  <h3><a href="/categories">View All Categories</a></h3>
  <!-- <h3><a href="/search-contact">Search by Contact Name</a></h3>
  <h3><a href="/search-category">Search by Category</a></h3> -->
  @if (@Model.Count == 0)
  {
    <h3>No Contacts in your Address Book!</h3>
    <!-- <p><a href="/contacts/new">Add a Contact!</a></p> -->
  }
  @foreach (var contact in Model)
  {
    <h3><a href="/contacts/@contact.GetId()">@contact.GetName()</a></h3>
  }
  </p><a href="/clear-contacts">Clear All Contacts!</a></p>
</div>
